body {
    font-family: Arial, sans-serif;
    background: url('../img/bg.jpg') no-repeat center center/cover;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
    color: #00aaff;
}

nav {
    color: #00aaff;
}

nav a {
    color: #00aaff;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    display: flex;
}

.container h2 {
    color: white;
}

.sidebar {
    width: 250px;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.profile img {
    width: 95px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile h2 {
    font-size: 18px;
    margin-top: -5px;
    margin-left: -11px;
}

.menu button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background: rgba(76, 115, 196, 0.8);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.menu button.active {
    background-color: #00aaff;
    font-weight: bold;
}

.menu button:hover {
    background-color: #00bfff;
}

.logout button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    margin-top: 49vh;
    background: rgba(255, 0, 0, 0.8);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.profile2 {
    width: 83vw;
    height: 90vh;
    background: url('../img/aboutbg.png') no-repeat center center/cover;
    border-radius: 10px;
}

.userprofile {
    display: flex;
    align-items: center;
    margin: 30px;
}

.userprofile img {
    height: 100px;
    border-radius: 50%;
    width: 100px;
}

.userinfo h2 {
    margin: 20px;
}

.userinfo p {
    color: white;
    width: 30vw;
    margin-left: 20px;
}

.org-details h3 {
    font-size: 18px;
    color: white;
    margin-left: 38vw;
    margin-bottom: 10px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.insta a img {
    height: 30px;
    width: 30px;
}

.yt a img {
    height: 70px;
}


.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile img {
    width: 84px;
    border-radius: 50%;
    margin-bottom: 10px;
    height: 80px;
}