body {
  font-family: Arial, sans-serif;
  background: url('../img/bg.jpg') no-repeat center center/cover;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: transparent;
  color: #00aaff;
}

nav {
  color: #00aaff;
}

nav a {
  color: #00aaff;
  text-decoration: none;
  margin: 0 10px;
}

.container {
  display: flex;
}

.container h2{
  color: white;
}

.sidebar {
  width: 250px;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile img {
  height: 80px;
  width: 80px;
  /* margin-left: 40vw;
  margin-top: 30px; */
  border-radius: 50%;
}

.profile h2 {
  font-size: 18px;
}

.menu button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: rgba(76, 115, 196, 0.8);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.menu button.active {
  background-color: #00aaff;
  font-weight: bold;
}

.menu button:hover {
  background-color: #00bfff;
}

.logout button{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  margin-top: 39vh;
  background: rgba(255, 0, 0, 0.8);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.profile2 {
  width: 83vw;
  height: 100%;
  color: white;
  background: url('../img/aboutbg.png') no-repeat center center/cover;
  border-radius: 10px;
}

.profile2 img {
  height: 80px;
  width: 80px;
  margin-left: 40vw;
  margin-top: 30px;
  border-radius: 50%;
}

.profile2 p {
  font-size: 18px;
  margin-left: 37vw;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  width: 19vw;
  margin-left: 31vw;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

form input::placeholder,
form textarea::placeholder {
  color: #cccccc;
}

form input,
form textarea {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
}

textarea {
  resize: none;
}

.btn {
  border: 1px solid white;
}

.btn:hover {
  background-color: #00aaff;
}
