body {
    font-family: Arial, sans-serif;
    background: url('../img/bg.jpg') no-repeat center center/cover;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
    color: #00aaff;
}

nav {
    color: #00aaff;
}

nav a {
    color: #00aaff;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    display: flex;
}

.container h2 {
    color: white;
}

.sidebar {
    width: 250px;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.profile img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 18px;
    margin-left: 10px;
    margin-top: -5px;
}

.menu button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background: rgba(76, 115, 196, 0.8);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.menu button.active {
    background-color: #00aaff;
    font-weight: bold;
}

.menu button:hover {
    background-color: #00bfff;
}

.profile2 {
    display: flex;
    width: 83vw;
    height: 90vh;
    flex-direction: column;
    background: url('../img/aboutbg.png') no-repeat center center/cover;
    border-radius: 10px;
    color: white;
}

.profile2 h2 {
    font-size: 30px;
    margin-left: 37vw;
}

.logout button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    margin-top: 39vh;
    background: rgba(255, 0, 0, 0.8);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}